<div class="banner" id='stone' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641110266/Portfolio/nick-nice-gPm8h3DS1s4-unsplash.jpg);">
  <div class="container">
    <h1>Bonjour <strong><%= current_user.name %></strong> !</h1>
    <p>Je vous invite à poser vos questions et reviens vers dans 24 h</p>
    <div class="choice">
      <a class="btn btn-flat" href="#">Apply now</a>
      <a class="btn call-to-action" href="#">Apply now</a>
    </div>
  </div>
</div>
