<div class="banner-footer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641472852/Portfolio/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="link-to-me">
          <p>PHILIPPE CHAMBON</p>
          <p>Chef De Projet Digital</p>
          <p>modernboxrecords@gmail.com</p>
          <p>06.52.75.10.72</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-copyright">
    Philippe Chambon 2022 ©
  </div>
  <div class="footer-links">
    <a href="https://github.com/Joankrugg"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

<!-- Modal -->
<%= render 'shared/navigation' %>
