<%= link_to pages_portfolio_path do %>
  <div class="row straight">
    <div class="column web">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641394467/Portfolio/Bieres-decouvrez-les-brasseurs-de-Paris.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_525,w_800/v1641393892/Portfolio/Churrasco_de_boeuf.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386419/Portfolio/DSC_0041.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386801/Portfolio/WRE.jpg" style="width:100%">
    </div>
    <div class="column video">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641390820/Portfolio/DSC_0292.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641390939/Portfolio/DTF_phil.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641393427/Portfolio/giphy_3.gif" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641393565/Portfolio/WRE2.jpg" style="width:100%">
    </div>
    <div class="column community-management">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386419/Portfolio/DSC_0041.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1545402774/Admin/modern_box_home.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_faces,h_627,w_800/v1641393677/Portfolio/12096476_10206742720078070_4145122384275427656_n.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641394270/Portfolio/dbbtc2huoopchc6zw99s.jpg" style="width:100%">
    </div>
    <div class="column image">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641395393/Portfolio/DSC_0430.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_480,w_800/v1641395108/Portfolio/501_116180681.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_south,h_180,w_250/v1641394918/Portfolio/o6xbjqohreq9pk0rl3h2.png" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641396246/Portfolio/DSC_0023.jpg" style="width:100%">
    </div>
  </div>
<% end %>
