<%= link_to pages_portfolio_path do %>
  <div class="row straight">
    <div class="column web">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1622019894/front-black-small_euz3fo.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1545402774/Admin/modern_box_home.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386419/Portfolio/DSC_0041.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386801/Portfolio/WRE.jpg" style="width:100%">
    </div>
    <div class="column video">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1636032567/9y6klr70zaf8ewi1xyle74wc458v.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1640972322/Portfolio/pawel-czerwinski-blue.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1637064167/mie21ltziel9s5x3bu27uvhype9m.png" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1626874569/Capture_d_e%CC%81cran_2021-07-21_a%CC%80_15.35.37_k4mmnn.png" style="width:100%">
    </div>
    <div class="column community-management">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1640972930/Portfolio/anthony-delanoix-b5POxb2aL9o-unsplash.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1618324578/pixabay-2-1300x521_psl7vi.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641116375/Portfolio/Blue_planet.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1636032567/9y6klr70zaf8ewi1xyle74wc458v.jpg" style="width:100%">

    </div>
    <div class="column image">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1636032567/9y6klr70zaf8ewi1xyle74wc458v.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1626874569/Capture_d_e%CC%81cran_2021-07-21_a%CC%80_15.35.37_k4mmnn.png" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641116375/Portfolio/Blue_planet.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1640972930/Portfolio/anthony-delanoix-b5POxb2aL9o-unsplash.jpg" style="width:100%">
    </div>
  </div>
<% end %>
