<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641110266/Portfolio/nick-nice-gPm8h3DS1s4-unsplash.jpg);">
  <div class="container">
    <h1>Visons ensemble <strong>les étoiles</strong> !</h1>
    <p>Je réalise votre projet digital</p>
    <a class="btn btn-flat" href="#">Apply now</a>
    <a class="btn call-to-action" href="#">Apply now</a>
  </div>
</div>
<%= render 'shared/footer' %>
