<div class="banner" id='stone' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641509767/Portfolio/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg);">
  <div class="container">
    <h1>Un parcours <strong>motivé par les passions</strong> !</h1>
    <p>Je confronte les idées au réel</p>
    <div class="choice">
      <a class="btn btn-flat" href="#">Apply now</a>
      <a class="btn call-to-action" href="#">Apply now</a>
    </div>
  </div>
</div>
<div class="banner" id='life' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641400063/scott-webb-UjupleczBOY-unsplash_sty3qr.jpg);">
  <div class="container fraction">
    <div class="col-lg-6 mx-auto">
      <h1>FORMATION</h1>
      <div class="timeline">
        <div class="line">
          <div class="left">2022</div>
          <div class="point"></div>
          <div class="right">Bachelor Chef de projet digital, Au DIGITAL CAMPUS Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2016</div>
          <div class="point"></div>
          <div class="right">Formation de Développeur Web Fullstack, Au Wagon Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2007</div>
          <div class="point"></div>
          <div class="right">Formation en Mixologie (préparation de cocktails), Au Fumoir Paris</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2004</div>
          <div class="point"></div>
          <div class="right">Licence de Psychologie, Université François Rabelais à Tours</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2001</div>
          <div class="point"></div>
          <div class="right">DEUG d'anglais LLCE de Psychologie, Université François Rabelais à Tours</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2000</div>
          <div class="point"></div>
          <div class="right">Baccalauréat littéraire avec mention, Lycée François Villon à Beaugency</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container fraction">
    <div class="col-lg-6 mx-auto">
      <h1>EXPERIENCES PROFESSIONELLES</h1>
      <div class="timeline">
        <div class="line">
          <div class="left">2021</div>
          <div class="point"></div>
          <div class="right">Création d'une brasserie participative, ATELIER TARGET Langoiran</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2019-2021</div>
          <div class="point"></div>
          <div class="right">Conseiller Commercial, EFC Formation (GIE Mondophone) Floirac</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2018-2020</div>
          <div class="point"></div>
          <div class="right">Développeur Fullstack, Modernboxrecords, Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2017-2018</div>
          <div class="point"></div>
          <div class="right">Créateur et Porteur de projet Hello-Yvon, Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2013-2017</div>
          <div class="point"></div>
          <div class="right">barman, responsable de salle puis directeur au Bal des Grands Hommes, Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2010-2012</div>
          <div class="point"></div>
          <div class="right">barman, à l'orangerie du jardin public à Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2006-2007</div>
          <div class="point"></div>
          <div class="right">barman, responsable de salle à l'Indochine, Tours</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2004-2005</div>
          <div class="point"></div>
          <div class="right">Serveur, room-service, barman Bath Spa Hotel 5* (Angleterre)</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2004-2018</div>
          <div class="point"></div>
          <div class="right">Artiste musicien, sound designer, tout genre</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container fraction">
    <div class="col-lg-6 mx-auto">
      <h1>CENTRES D'INTÉRÊTS ET RÉALISATIONS</h1>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641410266/Portfolio/Fichier_1_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Bières, vins et spiritueux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641411018/Portfolio/Fichier_2_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Jouer de la guitare pas que pour draguer</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641412409/Portfolio/Fichier_3_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Voyager! pas partir en voyage</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641412807/Portfolio/Fichier_4_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Le bâtiment et cronstruire des cabanes</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641413097/Portfolio/Fichier_5_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>La nature et la cueillette des champignons</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641414084/Portfolio/Fichier_7_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Les métiers de bouche</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641414093/Portfolio/Fichier_6_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Créer des choses en général</div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
