<div class="banner" id='stone' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641509767/Portfolio/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg);">
  <div class="container slogan">
    <h1>Un parcours <strong>motivé par les passions</strong> !</h1>
    <p><strong>Je porte les idées </strong>au réel</p>
    <a class="btn call-to-action center" href="#life">Regardez</a>
  </div>
</div>
<div class="banner" id='life' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641400063/scott-webb-UjupleczBOY-unsplash_sty3qr.jpg);">
  <div class="container fraction">
    <div class="col-lg-6 mx-auto">
      <h1>FORMATION</h1>
      <div class="timeline">
        <div class="line">
          <div class="left">2022</div>
          <div class="point"></div>
          <div class="right"><em>Bachelor Chef de projet digital,</em> Au DIGITAL CAMPUS Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2016</div>
          <div class="point"></div>
          <div class="right">Formation de <em>Développeur Web Fullstack,</em> Au Wagon Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2007</div>
          <div class="point"></div>
          <div class="right">Formation en <em>Mixologie</em> (préparation de cocktails), Au Fumoir Paris</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2004</div>
          <div class="point"></div>
          <div class="right"><em>Licence de Psychologie,</em> Université François Rabelais à Tours</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2001</div>
          <div class="point"></div>
          <div class="right"><em>DEUG d'anglais LLCE,</em> Université François Rabelais à Tours</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2000</div>
          <div class="point"></div>
          <div class="right"><em>Baccalauréat littéraire avec mention,</em> Lycée François Villon à Beaugency</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container fraction">
    <div class="col-lg-6 mx-auto">
      <h1>EXPÉRIENCES PROFESSIONELLES</h1>
      <div class="timeline">
        <div class="line">
          <div class="left">2021</div>
          <div class="point"></div>
          <div class="right"><em>Création d'une brasserie participative,</em> Atelier Target, Langoiran</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2019-2021</div>
          <div class="point"></div>
          <div class="right"><em>Conseiller Commercial,</em> EFC Formation (GIE Mondophone), Floirac</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2018-2020</div>
          <div class="point"></div>
          <div class="right"><em>Développeur Fullstack,</em> Modernboxrecords, Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2017-2018</div>
          <div class="point"></div>
          <div class="right"><em>Créateur et Porteur de projet</em> Hello-Yvon, Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2013-2017</div>
          <div class="point"></div>
          <div class="right"><em>Barman,</em> responsable de salle puis directeur au Bal des Grands Hommes, Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2010-2012</div>
          <div class="point"></div>
          <div class="right"><em>Barman,</em> à l'orangerie du jardin public à Bordeaux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2006-2007</div>
          <div class="point"></div>
          <div class="right"><em>Barman, responsable de salle</em> à l'Indochine, Tours</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2004-2005</div>
          <div class="point"></div>
          <div class="right"><em>Serveur, room-service, barman</em> Bath Spa Hotel 5* (Angleterre)</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left">2004-2018</div>
          <div class="point"></div>
          <div class="right"><em>Artiste musicien</em>, sound designer, producteur, tout genre</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container fraction">
    <div class="col-lg-6 mx-auto">
      <h1>CENTRES D'INTÉRÊTS ET RÉALISATIONS</h1>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641410266/Portfolio/Fichier_1_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Bières, vins et spiritueux</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641411018/Portfolio/Fichier_2_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Jouer de la guitare pas que pour charmer</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641412409/Portfolio/Fichier_3_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Voyager! pas partir en voyage</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641412807/Portfolio/Fichier_4_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Le bâtiment et construire des cabanes</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641413097/Portfolio/Fichier_5_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>La nature et la cueillette des champignons</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641414084/Portfolio/Fichier_7_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Les métiers de bouche</div>
        </div>
      </div>
      <div class="timeline">
        <div class="line">
          <div class="left"><img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641414093/Portfolio/Fichier_6_4x.png" class='image'></div>
          <div class="point"></div>
          <div class="right"><br>Créer des choses en général</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="transition">
  <div class="container">
    <h1>Voir les réalisations</h1>
    <%= link_to 'Portfolio', pages_portfolio_path, class: 'btn btn-flat center' %>
    <div class='center' style='height: 2px; background: white; margin-top: 30px;'></div>
    <p class="section-description">pour rester en contact</p>
    <p class="section-description">C'est ici.</p>
    <a href='#carte_de_visite'><i class="fas fa-arrow-alt-circle-down action"></i></a>
  </div>
</div>
<%= render 'shared/footer' %>
