<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1640972322/Portfolio/pawel-czerwinski-blue.jpg);">
  <div class="container">
    <h1>Ensemble, <strong>visons les étoiles !</strong></h1>
    <p> Je suis <strong>votre </strong>chef de projet digital</p>
    <a class="btn btn-flat" href="#discovery">Mes activités</a>
    <%=link_to 'Parlons ensemble', new_user_registration_path, class: 'btn call-to-action' %>
  </div>
</div>
<div class="break"></div>
<div class="transition">
  <h1>Les projets</h1>
</div>
<div class="row straight">
  <div class="column web">
    <div class="each" style="width:100%">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641394467/Portfolio/Bieres-decouvrez-les-brasseurs-de-Paris.jpg" style="width:100%">
      <p class="legend">Développement web Fullstack de la solution beertrackr</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_525,w_800/v1641393892/Portfolio/Churrasco_de_boeuf.jpg" style="width:100%">
      <p class="legend">Community-management de l'établissement Harriet's</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386419/Portfolio/DSC_0041.jpg" style="width:100%">
      <p class="legend">Porteur de projet et développement web de la solution hello-yvon</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386801/Portfolio/WRE.jpg" style="width:100%">
      <p class="legend">Chef de projet sur la réalisation du clip de Back To The scars</p>
    </div>
  </div>
  <div class="column video">
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641390820/Portfolio/DSC_0292.jpg" style="width:100%">
      <p class="legend">Chef de projet sur la réalisation du teaser album de Defeat the foe</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641390939/Portfolio/DTF_phil.jpg" style="width:100%">
      <p class="legend">Chef de projet sur la réalisation du clip de Defeat the foe</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641393427/Portfolio/giphy_3.gif" style="width:100%">
      <p class="legend">Création du site web de S_LD°UT</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641393565/Portfolio/WRE2.jpg" style="width:100%">
      <p class="legend">Photographies et montages pour communication de S_LD°UT</p>
    </div>
  </div>
  <div class="column community-management">
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386419/Portfolio/DSC_0041.jpg" style="width:100%">
      <p class="legend">Chef de Projet Digital sur Hello-yvon</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1545402774/Admin/modern_box_home.jpg" style="width:100%">
      <p class="legend">Création de la Plateforme Modernboxrecords  pour le Label</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_faces,h_627,w_800/v1641393677/Portfolio/12096476_10206742720078070_4145122384275427656_n.jpg" style="width:100%">
      <p class="legend">Création identité visuelle Defeat the foe</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641394270/Portfolio/dbbtc2huoopchc6zw99s.jpg" style="width:100%">
      <p class="legend">Création identité visuelle Restaurant Le bal des Grands Hommes</p>
    </div>

  </div>
  <div class="column image">
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641395393/Portfolio/DSC_0430.jpg" style="width:100%">
      <p class="legend">Shooting Defeat the Foe</p>
    </div>
    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_480,w_800/v1641395108/Portfolio/501_116180681.jpg" style="width:100%">
      <p class="legend">Intégration de la solution Hello-Yvon à Harriet's</p>
    </div>

    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_south,h_180,w_250/v1641394918/Portfolio/o6xbjqohreq9pk0rl3h2.png" style="width:100%">
      <p class="legend">Intégration de la solution Hello-Yvon au bal des grands hommes</p>
    </div>

    <div class="each">
      <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641396246/Portfolio/DSC_0023.jpg" style="width:100%">
      <p class="legend">Je suis Philippe CHAMBON</p>
    </div>
  </div>
</div>
<div class="break"></div>
<%= render 'shared/footer' %>
