.alert {
  background: white;
  position: fixed;
  top: 0;
  height: 84px;
  width: 100%;
  z-index: 11;
}
.alert-info {
  background: white;
}
.alert-warning {
  background-image: linear-gradient(-180deg, black, #3C3C3C);
  h2 {
    color: #3C3C3C;
  }
}

.message{
  text-align: center;
  color: black;
  margin-top: 6px;
  font-family: 'Oswald';
}

.advice{
  font-family: 'Oswald';
  text-align: center;
  color: white;
  margin-top: 6px;
}
