.btn-flat {
  color: $brand;
  border: 1px solid $brand;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $brand;
  color: white;
  opacity: 0.8;
}

.call-to-action{
  color: $brand;
  background: linear-gradient(180deg, black, transparent);
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}
.call-to-action:hover {
  background: $brand;
  color: white;
}

#connexion{
  z-index: 3;
  margin-top: -5px;
  margin-bottom: 5px;
}

#chat{
  background-color: white;
  z-index: 3;
  margin-top: -5px;
  margin-bottom: 5px;
}

.btn-moving {
  color: $brand;
  border: 1px solid $brand;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-moving:hover {
  background: $brand;
  color: white;
}

.btn-nav-modern{
  background-color: $light-gray;
  font-weight: lighter;
  border-radius: 4px;
  color: #4B535B;
  font-size: 22px;
  text-align: center;
  opacity: 0.7;
  padding: 15px;
  margin-bottom: 10px;
}

.btn-nav-modern:hover{
  background-color: $brand;
  opacity: 1;
  color: white;
}

a:hover{
  text-decoration: none;
}

.center{
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
