.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-star {
  color: $brand;
}

.footer-copyright{
  font-size: 16px;
  font-weight: lighter;
  color: #a4a4a4;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner-footer{
  background-size: cover;
  background-position: center;
  padding: 115px 0px 220px 0px;
}
.link-to-me{
  background-color: #101010;
  opacity: 0.9;
  border-radius: 6px;
  padding: 20px;
}
.link-to-me p {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.navigation{
  margin-top: 80px;
}
