.wallpaper{
  background-color: black;
}
.login-form{
  margin-top: 40px;
  padding: 80px 20px;
  background-color: rgb(0, 3, 4);
  color: white;
  border-radius: 6px;
}

.login-form h2{
  margin-bottom: 40px;
  font-size: 30px;
  color: white;
}

.login-form .btn-flat{
  width: 100%;
  margin-top: 10px;
}

.login-form .call-to-action{
  margin-top: 30px;
}

.login-form .form-inputs{
  text-align: center;
}

.form{
  background-color: rgba(245, 245, 245, 0.1);
  border-radius: 4px;
  text-align: center;
  padding: 30px;
}
.form-control{
  text-align: center;
}
.shared-btn{
  margin-bottom: -25px;
}

.shared {
  margin-top: 30px;
}

.login-form .call-to-action {
  width: 100%
}
.squaretag-item {
  display: inline-block;
}

.squaretag-selector {
  position: absolute;
  transform: scale(0);
}

.squaretag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oswald';
  font-weight: lighter;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: $light-gray;
  color: #3C3C3C;
  border: 1px solid #3C3C3C;
  margin-right: 5px;
  margin-bottom: 5px;
}
.squaretag-selector:hover + label {
  background-color: $brand;
  border: 1px solid white;
  color: white;
}

.squaretag-selector:checked + label {
  background-color: $brand;
  color: white;
}
.col-form-label{
  color: white;
}

.string{
  color: white;
}
