.wallpaper{
  background-color: black;
}
.login-form{
  margin-top: 40px;
  padding: 80px 20px;
  background: transparent;
  color: white;
  border-radius: 6px;
}

.login-form h2{
  margin-bottom: 40px;
  font-size: 30px;
  color: white;
}

.login-form .btn-flat{
  width: 100%;
  margin-top: 10px;
}

.login-form .call-to-action{
  margin-top: 30px;
}

.login-form .form-inputs{
  text-align: center;
}

.form{
  background-color: white;
  text-align: center;
  padding: 30px;
}
.form-control{
  text-align: center;
}
.shared-btn{
  margin-bottom: -25px;
}

.shared {
  margin-top: 30px;
}

.login-form .call-to-action {
  width: 100%
}
