.navbar-lewagon {
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  width: 100%;
  opacity: 0;
  background-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link{
  background-color: white;
  margin-right: 20px;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}

